item,
.link {
  color: #939393;
  border: 1px solid #ededed;
  padding: 6px 9px;
  border-radius: 6px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 500px;
  min-width: 350px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #000 !important;
  background-color: rgb(255, 238, 88) !important;
  cursor: default;
  border: 1px solid #ededed;
  padding: 6px 9px;
  border-radius: 6px;
}

/* .pagination * {
  padding: 6px;
} */
