.left-pane {
  width: 300px;
  height: 150vh;
  background-color: #3c6198;
  z-index: inherit;
}
.company-logo-lp {
  width: 100%;
  padding: 15px;
  color: #fff;
  background-color: #334f79;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-size: 16px;
  white-space: nowrap;
}
.left-pane a {
  color: #fff !important;
}
.company-logo-lp h3 {
  font-size: 22px;
  font-weight: "bolder";
  color: #fff;
}
.side-nav {
  margin-top: 30px;
  width: 100%;
  color: rgb(238, 237, 237);
  list-style: none;
  letter-spacing: 1px;
}
.side-nav li span img {
  width: 30px;
  margin-right: 10px;
}
.side-nav li {
  padding-left: 20px;
  width: 100%;
  height: 60px;
  font-size: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
}
.side-nav li:hover {
  background-color: #2e538a;
}
