input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  display: block;
  background: url("../assets/svg/calendar.svg") no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}

select {
  background: url("../assets/svg/dropdown-arrow.svg") no-repeat right;
  -webkit-appearance: none;
  background-position-x: 90%;
}

.slick-prev,
.slick-next {
  height: 60px !important;
  width: 60px !important;
  padding: 20px 5px !important;
  border-radius: 50% !important;
  background: white !important;
}

.slick-prev:hover,
.slick-next:hover {
  box-shadow: 0px 4px 30px rgba(143, 143, 143, 0.3);
}
.slick-track {
  display: flex !important;
  align-items: baseline !important;
}

@media only screen and (min-width: 1920px) {
  .slick-prev {
    left: -50px !important;
  }
  .slick-next {
    right: -50px !important;
  }
}
