@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@layer base {
  body {
    @apply tw-bg-primary-color tw-text-primary-color tw-text-body;
  }

  .tw-gh-tabs {
    @apply tw-text-primary-color tw-font-medium tw-py-4 md:tw-px-14 tw-px-4 tw-block tw-text-base focus:tw-outline-none;
  }
  .tw-gh-tabs.active {
    @apply tw-shadow-tab tw-rounded-xl tw-relative tw-bg-primary-color;
  }

  .tw-gh-tabs.active::after {
    @apply tw-bg-primary-color;
    content: "";
    position: absolute;
    height: 25px;
    width: 100%;
    bottom: -14px;
    left: 0;
    z-index: 2;
  }

  .tw-tab-container {
    @apply tw-shadow-tab tw-min-h-32 tw-relative tw-bg-primary-color tw-rounded-xl tw-p-10;
    top: -2px;
  }

  .tw-form-label {
    @apply tw-text-sm tw-text-primary-color tw-mb-4 tw-font-medium;
  }

  .tw-form-input {
    @apply tw-w-full tw-text-secondary-color tw-bg-primary-color tw-border-2 tw-rounded-xl  tw-px-8 tw-py-4 tw-font-medium;
  }
}
